/* Responsive */
@media (max-width <= 768px) {
  .slide {
    flex: 0 0 220px;
  }

  .slider-heading {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .slide {
    flex: 0 0 160px;
  }

  .slider-heading {
    font-size: 1em;
  }
}