@font-face {
    font-family: six caps;
    src: url(/sixcaps-fontface/SixCaps-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.wrapper-box {
    background-image: url(	https://framerusercontent.com/images/RBdTdRvxWPR7KM5SJ2eBUKHsQTI.webp?scale-down-to=2048);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(3, 3, 3, 0.5);
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
}

/*  -___________________HEADER __________________ */
/* .head-logo {
  font-size: 2.5rem;
  font-family: "Dancing Script", cursive;
   white-space: nowrap;
} */

.navbar .head-logo {
    font-size: 1.2rem;
    font-family: "Dancing Script", cursive;
}

.offcanvas .head-logo {
    font-size: 2.2rem;
}

.head-links .nav-link {
    font-size: 1.1em;
    font-family: "Poppins", sans-serif;
    transition: color 0.5s;
}

.head-links .nav-link:hover {
    color: #c49e72 !important;
}

.admin-btn {
    background-color: #c49e72;
    color: #4b2e2b;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    padding: 10px 16px;
    border: none;
    border-radius: 20px;
}

.admin-btn:hover {
    background-color: #4b2e2b;
    color: #c49e72;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 4px 4px 5px #c49e72;
}

.navbar-brand img {
    width: 60px;
    height: auto;
}


/* -___________HERO SECTION _________________________ */
.hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    color: #FAEBD7;
}

.hero-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 50%;
    max-width: 800px;
    padding: 20px;
    font-size: 16px;
}

.hero-1>h1 {
    font-size: 250px;
    font-family: 'six caps', sans-serif;
    color: #FAEBD7;
    text-transform: uppercase;
    transform: scaleX(0.75);
    opacity: 1;
    font-weight: semi-bold;
    letter-spacing: 0.5px !important;
}

.hero-btn {
    background-color: transparent;
    color: #FAEBD7;
    font-size: 15px;
    padding: 10px 16px;
    border: 1px solid #FAEBD7;
    border-radius: 20px;
    margin-top: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.hero-btn:hover {
    background-color: #FAEBD7;
    color: #0D0D0D;
    transition: 0.5s;
    cursor: pointer;
}