@font-face {
    font-family: six caps;
    src: url(/sixcaps-fontface/SixCaps-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.wrapper-box {
    background-image: url(	https://framerusercontent.com/images/RBdTdRvxWPR7KM5SJ2eBUKHsQTI.webp?scale-down-to=2048);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(3, 3, 3, 0.5);
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
}

/*  -___________________HEADER __________________ */
/* .head-logo {
  font-size: 2.5rem;
  font-family: "Dancing Script", cursive;
   white-space: nowrap;
} */

.navbar .head-logo {
    font-size: 1.2rem;
    font-family: "Dancing Script", cursive;
}

.offcanvas .head-logo {
    font-size: 2.2rem;
}

.head-links .nav-link {
    font-size: 1.1em;
    font-family: "Poppins", sans-serif;
    transition: color 0.5s;
}

.head-links .nav-link:hover {
    color: #c49e72 !important;
}

.admin-btn {
    background-color: #c49e72;
    color: #4b2e2b;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    padding: 10px 16px;
    border: none;
    border-radius: 20px;
}

.admin-btn:hover {
    background-color: #4b2e2b;
    color: #c49e72;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 4px 4px 5px #c49e72;
}

.navbar-brand img {
    width: 60px;
    height: auto;
}


/* -___________HERO SECTION _________________________ */
.hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    color: #FAEBD7;
}

.hero-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 50%;
    max-width: 800px;
    padding: 20px;
    font-size: 16px;
}

.hero-1>h1 {
    font-size: 250px;
    font-family: 'six caps', sans-serif;
    color: #FAEBD7;
    text-transform: uppercase;
    transform: scaleX(0.75);
    opacity: 1;
    font-weight: semi-bold;
    letter-spacing: 0.5px !important;
}

.hero-btn {
    background-color: transparent;
    color: #FAEBD7;
    font-size: 15px;
    padding: 10px 16px;
    border: 1px solid #FAEBD7;
    border-radius: 20px;
    margin-top: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.hero-btn:hover {
    background-color: #FAEBD7;
    color: #0D0D0D;
    transition: 0.5s;
    cursor: pointer;
}


.image-section {
    padding: 50px 20px;
    text-align: center;
   
}

.slide-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    font-size: 1.2em;
    margin: 20px auto;
    
    

}


.slider-heading {
    text-align: center;
    font-size: 200px;
    font-family: 'six caps', sans-serif;
    color: #0D0D0D;
    text-transform: uppercase;
    transform: scaleX(0.75);
    opacity: 1;
    font-weight: semi-bold;
    letter-spacing: 4px;
    margin-bottom: 40px;
}

.image-slider {
    overflow: hidden;
    width: 100%;
}



.slider-track {
    display: flex;
    width: calc(350px * 10);
    /* image width x total slides */
    animation: scroll 25s linear infinite;
    column-gap: 30px;
     background-color: #0D0D0D;
}

.slide {
    flex: 0 0 350px;
    margin-right: 10px;
    padding: 10px;
    background-color: #FAEBD7;
    text-align: center;
}

.slide h4{
    color: #0D0D0D;
    font-family: six caps;
    font-size: 3.1em;
}

.slide p{
    padding-top: 10px;
}

.slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.slider-track:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

/* Scroll animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-300px * 5 - 20px * 5));
    }
}




/*__________________ MEET THE TEAM ___________________ */
.table-main {
    height: 90vh;
    background-color: #0D0D0d;
    padding: 50px 0px;
}

.table-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    text-align: center;
    margin: 0px auto;
    font-size: 16px;

}

.table-content h2 {
    text-align: center;
    font-size: 230px;
    font-family: 'six caps', sans-serif;
    color: #FAEBD7;
    text-transform: uppercase;
    transform: scaleX(0.75);
    opacity: 1;
    font-weight: semi-bold;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.table-content p {
    color: #FAEBD7;
    line-height: 30px;
    font-size: 1.2em;
}

.table-content button {
    border: 1px solid #FAEBD7;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px 15px;
    margin-bottom: 20px;
    background-color: transparent;
    font-size: 15px;
    font-weight: semi-bold;
    color: #FAEBD7;

}

.table-content button:hover {
    color: #0D0D0D;
    background-color: #FAEBD7;
    transition: all 2s ease-in-out;
}

/* ________________our story _____________ */
.story-main{
    background-color: #FAEBD7;
    color: #0D0D0D;
    height: auto;
    
}
.story-main h2{
    color: #0D0D0D;
}
.story-main p{
    color: #0D0D0D;
}

.story-card{
    width: 70vw;
    background-color: #FAEBD7;
    border: 1px solid #0D0D0D;
    margin: 20px auto;
    height: 520px;
    text-align: center;
}

.story-card img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center center;
    
}
.story-card h3{
    font-family: six caps;
    font-size: 3.8em;
    letter-spacing: 2px;
}

.pra-story{
    text-align: center;
    padding: 30px 0px;
    font-size: 1.1em;
}

/* ______________________FOOTER ____________________________ */
.footer {
    background-color: #0D0D0D;
    width: 100%;
    min-height: 400px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #0D0D0D;
    min-width: 80%;
    min-height: 300px;
    font-size: 16px;
    column-gap: 20px;
    padding: 20px 20px;
    /* box-shadow: 10px 10px 10px black; */
    flex-direction: row;
    margin-top: 30px;
    align-content: left;
}

.f-1 h2 {
    font-size: 4.2em;
    font-family: six caps;
    color: #FAEBD7;
    letter-spacing: 6px;
}

.footer-child h3 {
    font-size: 2.7em;
    font-family: six caps;
    color: #FAEBD7;
    letter-spacing: 6px;
}

.footer-child p {
    font-size: 1em;
    font-family: sans-serif;
    color: #FAEBD7;
    padding-top: 20px;
}

.f-1 {
    flex-grow: 1;
}

.f-2 {
    flex-grow: 1;
}

.f-2 li {
    list-style-type: none;
    font-size: 1.1em;
    font-family: sans-serif;
    padding-top: 20px;
    text-decoration: none;
    color: #FAEBD7;
}

.f-3 {
    flex-grow: 1;
}


.f-bottom {
    font-size: 1.2em;
    color: #FAEBD7;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

hr {
    width: 100%;
    color: #FAEBD7;
}